body {
  background-color: black;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapper__child_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid purple;
  padding: 10px 80px 40px 80px;
  height: 320px;
  margin-bottom: 20px;
}
.img {
  width: 180px;
}
.title {
  color: rgb(189, 153, 109);
  margin-bottom: 0;
}
.year {
  color: rgb(163, 130, 89);
  margin-bottom: 10px;
}
